@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gugi&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Black+Ops+One&family=Gugi&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Black+Ops+One&family=Gugi&family=Monofett&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Black+Ops+One&family=Gugi&family=Monofett&family=Monoton&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Black+Ops+One&family=Gugi&family=Karla:wght@500&family=Monofett&family=Monoton&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/*HOME PAGE*/ 
.video-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
    @media(min-width: 600px) {
      height: 100vh;
    }
  }
  
  video {
    object-fit: cover; 
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

.cover-container .main-title h1 {
    color: #E30641;
    font-size: 120px; 
    font-family: karla;  
    position: relative;
    text-align: center;
    margin-top: -18%;
}

  header {
      position: relative;
      margin-top: 2%;
  }


.nav .nav-link {
      color: #E30641;
  }

  .float-md-start {
    margin-left: 2%;
  }


/*EVENTS*/
.events-main {
  object-fit: cover; 
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.cover-container h1 {
  color: #E30641;
  font-family: karla;
  font-size: 120px;
  position: absolute;
  text-align: left;
  margin-left: 4%;
  padding-top: 25%;
}

.container-events {
  margin-top: 15%;
  text-align: center;
  font-family: karla;
}

.intro-events {
  font-family: quicksand;
  font-size: 60px;
  color: #0A2F43; 
  padding-bottom: 5%;
  margin-top: 42%;
}

.container-events img {
  width: 700;
  height: 700;
}

.container-events .card-body {
  padding-top: 25%;
  padding-left: 10%;

}

.container-events .card-body2 {
  padding-top: 25%;
  padding-right: 10%;

}

.container-events .card-title {
  color: #E30641;
  font-size: 35px;
  text-align: right;
  padding-bottom: 2%;
  letter-spacing: 3px;
}

.container-events .card-body2 .card-title {
  color: #E30641;
  font-size: 35px;
  text-align: left;
  padding-bottom: 2%;
  letter-spacing: 3px;
}

.container-events .card-text {
  font-size: 18px;
  text-align: justify;
  letter-spacing: 1px;

}

.container-events .card-body2 .card-text {
  font-size: 18px;
  text-align: justify;
  letter-spacing: 1px;
}

.events-main footer p {
    color: #E30641; 
    background-color: #0A2F43;
    text-align: center;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    }
    
  .events-main footer {
      margin-top: 5%;
    }


/*DISCOVER MORE*/
.discover {
  text-align: center;
}

.discover p {
  color: #0A2F43; 
  font-size: 40px;
  margin-right: 30%;
  padding-bottom: 2%;
  font-family: karla;
}

.discover h1 {
  font-size: 95px;
  color: #0A2F43;
  font-family: karla;
  text-align: center;
}


.discover .discover-people {
  position: relative;
  margin-top: -20%;
}

.discover .discover-events {
  position: relative;
  margin-left: 40%;
  margin-top: -25%;
}


.cover-container .robot {
  margin-top: -15%;
  margin-right: 65%;
}

.discover .discover-btn {
  font-size: 27px;
  color: #0A2F43;
}

.pretty-underline {
    background-image: linear-gradient(90deg, #E30641ff, #E51D52ff, #E63363ff, #E84A74ff, #E96184ff, #EB7795ff, #EC8EA6ff);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
}


/*ABOUT*/

.about-heading1 h1, .about-heading2 h1, .about-heading3 h1, .about-heading4 h1{
  font-family: karla;
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 4px;
  color: #0A2F43;
}

.about-heading1 h1, .about-heading3 h1{
  margin-top: -22%;
  margin-left: 50%;
}

.about-heading2 h1, .about-heading4 h1{
  margin-left: 10%;
  margin-top: -25%;
}

.about-heading1 img, .about-heading2 img, .about-heading3 img, .about-heading4 img {
  object-fit: cover; 
  height:90%;
  width: 100%;
}

.text1 {
  text-align: center;
  font-size: 50px;
  font-family: karla;
  letter-spacing: 5px;
  line-height: 130px;
  margin-top: -10%;
  margin-bottom: 8%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5%;
  padding-bottom: 8%;
}

.text2 {
  text-align: center;
  font-size: 45px;
  font-family: karla;
  letter-spacing: 5px;
  line-height: 110px;
  margin-top: -5%;
  margin-bottom: 15%; 
}


.text3 {
  text-align: center;
  font-size: 45px;
  font-family: karla;
  letter-spacing: 5px;
  line-height: 110px;
  margin-bottom: 15%; 
  padding-left: 5%;
  padding-right: 5%;
}


.text4 {
  text-align: center;
  font-size: 50px;
  font-family: karla;
  letter-spacing: 5px;
  line-height: 120px;
  margin-bottom: 19%;
  padding-left: 5%;
  padding-right: 5%;
}

.text4 a {
  font-size: 30px;
  color: #E30641;
  padding-top: 5%;
}

/*REVIEWS*/
.reviews-title h1 {
  font-family: karla;
  letter-spacing: 5px;
  color: #0A2F43;
  text-align: right;
  padding-right: 55;
  padding-top: 10%;
}

/*CONTACT FORM */
.card {
  padding: 15%;
  padding-top: 45px;
  margin-top: 60px;
  margin-bottom: 80px;
  background-color: #0A2F43;
  border-radius: 2%;
}

.card h4{
  font-family: karla;
  color: white;
  text-transform: uppercase;
  font-size: 45px;
}

.mb-1 {
  color: white;
  text-align: left;
}

textarea[name="message"] {
  resize: none;
}

#e-mail {
  height: 45px;
}

#message {
  height: 120px;
}

input.input-box,
textarea.input-box {
  background-color: #F1F1F1;
  border: #616161;
  color: #0A2F43;
  font-family: karla;
}

input.input-box:focus,
textarea.input-box:focus {
  background-color: #0A2F43;
  color: #BDBDBD;
}

.rm-border:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

form .form-control::-webkit-input-placeholder {
  color: #9E9E9E;
}

::-moz-placeholder {
  color: #9E9E9E !important;
}

input.btn {
  background-color: #E30641;
  color: #0A2F43;
  font-family: karla;
  font-size: 18px;
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}


/* FOOTER */
footer {
  position: relative;
}

footer p {
color: #E30641; 
font-size: 20px;
margin-top: -5%;
}