@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gugi&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Black+Ops+One&family=Gugi&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Black+Ops+One&family=Gugi&family=Monofett&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Black+Ops+One&family=Gugi&family=Monofett&family=Monoton&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Black+Ops+One&family=Gugi&family=Karla:wght@500&family=Monofett&family=Monoton&family=Train+One&display=swap');

/*HOME PAGE*/ 
.video-container {
    height: 100vh;
    position: relative;
    overflow: hidden;
    @media(min-width: 600px) {
      height: 100vh;
    }
  }
  
  video {
    object-fit: cover; 
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }


main {
    position: relative;
    margin-top: 18%;
  }

main h1 {
    color: #E30641;
    font-size: 800%; 
    font-family: "Train One";  
}

  header {
      position: relative;
  }


.nav-link {
      color: #E30641;
  }


/*EVENTS*/
.events-main {
  object-fit: cover; 
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.events-title h1 {
  font-family: karla;
  font-size: 120px;
  margin-left: 5%;
  overflow-wrap: anywhere;
  padding-top: 5%;

}

/*DISCOVER MORE*/
.discover {
  text-align: center;
  margin-top: 8%;
}

.discover p {
  color: #0A2F43; 
  font-size: 24px;
}

.discover h1 {
  font-size: 60px;
  color: #0A2F43;
}


/*CONTACT FORM */
.card {
  padding: 15%;
  padding-top: 45px;
  margin-top: 60px;
  margin-bottom: 80px;
  background-color: #0A2F43;
  border-radius: 2%;
}

.card h4{
  font-family: karla;
  color: white;
  text-transform: uppercase;
  font-size: 45px;
}

.mb-1 {
  color: white;
  text-align: left;
}

textarea[name="message"] {
  resize: none;
}

#e-mail {
  height: 45px;
}

#message {
  height: 120px;
}

input.input-box,
textarea.input-box {
  background-color: #F1F1F1;
  border: #616161;
  color: #0A2F43;
  font-family: karla;
}

input.input-box:focus,
textarea.input-box:focus {
  background-color: #0A2F43;
  color: #BDBDBD;
}

.rm-border:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

form .form-control::-webkit-input-placeholder {
  color: #9E9E9E;
}

::-moz-placeholder {
  color: #9E9E9E !important;
}

input.btn {
  background-color: #E30641;
  color: #0A2F43;
  font-family: karla;
  font-size: 18px;
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}


/* FOOTER */
footer {
  position: relative;
}

footer p {
color: #E30641; 
font-size: 20px;
}